/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
.nrepl-port

hs_err_pid85826.log

*.DS_Store

*.metrics

*.tmp*

tmp.*

combined-metrics.txt
