/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history

hs_err_pid85826.log

*.mid

*.metrics

*.abc

*.tmp*

combined-metrics.txt
